body {
  margin: 20px;
}

body, select, button {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
}

select {
  margin-right: 10px;
}

#visualizer {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #e0e0e0;
  width: 1024px;
  height: 500px;
}
